@model T4S_MODEL.SignUpModel

@using (Html.BeginForm("SignUp", "Home", FormMethod.Post))
{
    <table>

        <tr>
            <td>User Name: </td>
            <td>@Html.TextBoxFor(m => m.userName)</td>
        </tr>


        <tr>
            <td>Password: </td>
            <td>@Html.TextBoxFor(m => m.password)</td>
        </tr>

        <tr>
            <td>First Name: </td>
            <td>@Html.TextBoxFor(m => m.firstName)</td>
        </tr>

        <tr>
            <td>Last Name: </td>
            <td>@Html.TextBoxFor(m => m.lastName)</td>
        </tr>
        <tr>
            <td>email: </td>
            <td>@Html.TextBoxFor(m => m.email)</td>
        </tr>
       


        <tr>
            <td colspan="2"><input type="submit" value="Register" /></td>
        </tr>
    </table>
}